*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.featured_main{
    background-color: rgb(245,247,249);
    padding-bottom: 7%;
}
.featured_head_div{
    padding-top: 100px;
}
.featured_heading{
    position: relative;
    font-weight: 650;
    font-family: Arial, Helvetica, sans-serif;
}
.featured_heading::after{
    content: " ";
    background-color: rgb(62,132,214);
    height: 2px;
    position: absolute;
    width: 8%;
    bottom: -80%;
    left:46%;
}
.featured_divs_main{
    width: 95%;
    margin-top: 80px;
    overflow-x: hidden;
}
.featured_div{
    width: 20%;
    overflow-x: hidden;
    cursor: pointer;
}
.featured_img_div{
    height: 220px;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    overflow: hidden;
}
.featured_img:hover{
    scale: 1.2;
}
.featured_img{
    height: 100%;
  max-width:  100%;
  transition: 0.3s ease-in all;
}
.featured_details_div{
    padding-left: 2%;
}
.featured_title{
    
    font-weight: 700;
}
.featured_price{
    font-weight: 600;
    
}
.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    color: black;
}
.button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
}
.color_div{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
.limited_time_main {
    margin-top: 120px;
}
.limited_time_wrapper{
    padding-bottom: 7.5%;
  width: 99%;
  background-image:linear-gradient(to right, rgba(6, 114, 197, 0.594),rgba(0, 166, 255, 0)) ,url('../../assets/banner-03.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.shop_now_btn{
    width: 145px;
    height: 45px;
    border: none;
    font-weight: 600;
    font-size: medium;
    margin-top: 30px;
    transition: 0.2s all linear;
}
.shop_now_btn:hover{
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
    border: none;
}
.limited_time_heading{
    margin-top: 120px;
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: end;
}
.special_edition_head{
    font-weight: 600;
}

