.qualtiy_main{
    margin-top: 120px;
    padding-bottom: 5%;
}
.qualtiy_wrapper{
    width: 90%;
}
.fa-earth-americas{
    font-size: 300%;
}
.fa-tags{
    font-size: 300%;
}
.fa-lock{
    font-size: 300%;
}
.fa-star1{
    font-size: 300%;
}
.quality_div{
    width: 24%;
    height: 200px;
}
@media only screen and (min-width:200px) and (max-width:767px){
    .qualtiy_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .quality_div{
        width: 85%;
    }
   .quality_head{
    font-size: 100%;
   }
  
}
