.qualtiy_main{
    margin-top: 120px;
}
.qualtiy_wrapper{
    width: 90%;
}
.fa-earth-americas{
    font-size: 300%;
}
.fa-tags{
    font-size: 300%;
}
.fa-lock{
    font-size: 300%;
}
.fa-star1{
    font-size: 300%;
}
.quality_div{
    width: 24%;
    height: 200px;
}
