*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ::-webkit-scrollbar{
  display: none;
} */

.active{
  color: rgb(8, 136, 240);;
}
html{
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
}
.fa-star{
  color:  rgba(55, 55, 55, 0.688)
}